<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="testNG.TestNGPracticeTest"/>
      <class name="pomClasses.LoginToActiTimeApp"/>
      <class name="testNG.DataProviderPractice"/>
      <class name="locators.LoginToActitime"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
